.main{
    display: flex;
    flex-wrap: wrap;
}
.informacion-principal{
    height: 350px;
    margin: auto;
    margin: 0px 10px 20px 10px;
    font-weight: 100;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.informacion-secundaria{
    margin: auto;
    margin-top: 10px;
    font-weight: 100;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 50px;
}

@media screen and (min-width: 700px){
    .informacion-principal{
        width: 60%;
    }
    .informacion-secundaria{
        width: 25%;
    }
}